<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Temp: <%= temp %> °C</h1>
    <h2>Pressure: <%= pressure %> hpa</h2>
    <h3>Humidity: <%= humidity %>%</h3>
    
  </body>
</html>
